.nav-social {
    --bs-nav-link-padding-x: 0.5rem;
}

.bg-wood {
    background-image: url(imgs/wood-bg.jpg), linear-gradient(to top, #4b3800, #55430e);
    background-size: cover;
    background-attachment: fixed;
}

.nav-dark {
    --bs-nav-link-color: #ffffff;
    --bs-nav-link-hover-color: rgba(255, 255, 255, 0.75);
}