<footer class="bg-wood text-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <h5>Miller Pacific Hardwoods</h5>
                        <ul class="nav nav-dark flex-column">
                            <li class="nav-item mb-2">
                                <a href="index.php" class="nav-link p-0">Home</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="products.php" class="nav-link p-0">Products</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="about.php" class="nav-link p-0">About</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <h5>Contact Us</h5>
                        <address>
                            <strong>Miller Pacific Hardwoods</strong>
                            <br>
                            Stevenson, Washington
                        </address>
                        <address>
                            <strong>Email</strong>
                            <br>
                            <a class="link-primary" href="mailto:contact@mphwood.com">contact@mphwood.com</a>
                        </address>
                        <address>
                            <strong>Phone</strong>
                            <br>
                            <a class="link-primary" href="tel:503-449-2068">503-449-2068</a>
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 mb-3">
                <ul class="nav nav-dark">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/MillerPacific"><i role="img" class="bi bi-facebook fs-5" aria-label="Facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/mphwood"><i role="img" class="bi bi-twitter fs-5" aria-label="Twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://instagram.com/mphwood"><i role="img" class="bi bi-instagram fs-5" aria-label="Instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="py-4 my-4 border-top">
            <p>© 2022 Miller Pacific Hardwoods, LLC. All rights reserved.</p>
        </div>
    </div>
</footer>